workflows/adapters/webhook-adapter.json
{
  "name": "🔌 Webhook Adapter",
  "settings": {
    "executionOrder": "v1"
  },
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Map Generic Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "Map Slack Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Teams Trigger": {
      "main": [
        [
          {
            "node": "Map Teams Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Generic Input": {
      "main": [
        [
          {
            "node": "Call n8n-claw Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Slack Input": {
      "main": [
        [
          {
            "node": "Call n8n-claw Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Teams Input": {
      "main": [
        [
          {
            "node": "Call n8n-claw Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call n8n-claw Agent": {
      "main": [
        [
          {
            "node": "Route Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Teams Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "adapter",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "adapter-webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "webhook-adapter-api",
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Webhook Auth"
        }
      }
    },
    {
      "parameters": {
        "events": [
          "message"
        ]
      },
      "id": "adapter-slack-trigger",
      "name": "Slack Trigger",
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -300
      ],
      "disabled": true,
      "credentials": {
        "slackApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {},
      "id": "adapter-teams-trigger",
      "name": "Teams Trigger",
      "type": "n8n-nodes-base.microsoftTeamsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        300
      ],
      "disabled": true,
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Microsoft Teams"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Map Generic / Paperclip input to n8n-claw Agent format\n// Paperclip sends: { message, name, agentId, model, timeoutSeconds }\n// Generic sends:   { message, user_id, session_id, source, metadata }\nconst body = $json.body || $json;\nconst message = body.message || body.text || '';\nconst userId = body.user_id || body.name || 'anonymous';\nconst sessionId = body.session_id\n  || (body.agentId ? `paperclip:${body.agentId}` : `api:${userId}`);\nconst source = body.source || (body.agentId ? 'paperclip' : 'api');\n\nreturn [{ json: {\n  message,\n  user_id: userId,\n  session_id: sessionId,\n  source,\n  metadata: {\n    _responseChannel: 'webhook',\n    ...(body.metadata || {}),\n    ...(body.timeoutSeconds ? { timeoutSeconds: body.timeoutSeconds } : {})\n  }\n} }];"
      },
      "id": "map-generic-input",
      "name": "Map Generic Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Map Slack event to n8n-claw Agent format\n// n8n Slack Trigger outputs flat: { type, text, user, channel, ts, ... }\nreturn [{ json: {\n  message: $json.text || '',\n  user_id: $json.user || 'unknown',\n  session_id: `slack:${$json.channel}`,\n  source: 'slack',\n  metadata: {\n    _responseChannel: 'slack',\n    channelId: $json.channel,\n    threadTs: $json.thread_ts || $json.ts\n  }\n} }];"
      },
      "id": "map-slack-input",
      "name": "Map Slack Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        -300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Map Teams Bot Framework Activity to n8n-claw Agent format\n// Teams sends: { type, text, from: { id, name }, conversation: { id } }\nreturn [{ json: {\n  message: $json.text || '',\n  user_id: $json.from?.id || 'unknown',\n  session_id: `teams:${$json.conversation?.id || 'unknown'}`,\n  source: 'teams',\n  metadata: {\n    _responseChannel: 'teams',\n    conversationId: $json.conversation?.id,\n    serviceUrl: $json.serviceUrl,\n    fromName: $json.from?.name\n  }\n} }];"
      },
      "id": "map-teams-input",
      "name": "Map Teams Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{  '{{N8N_URL}}' + '/webhook/agent' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "{{WEBHOOK_SECRET}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "call-agent",
      "name": "Call n8n-claw Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.metadata?._responseChannel }}",
                    "rightValue": "webhook",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Webhook"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.metadata?._responseChannel }}",
                    "rightValue": "slack",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Slack"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.metadata?._responseChannel }}",
                    "rightValue": "teams",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Teams"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "route-response",
      "name": "Route Response",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1200,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1600,
        0
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.metadata?.channelId }}"
        },
        "text": "={{ $json.response }}",
        "otherOptions": {}
      },
      "id": "slack-reply",
      "name": "Slack Reply",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1600,
        -300
      ],
      "disabled": true,
      "credentials": {
        "slackApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chatMessage",
        "chatId": "={{ $json.metadata?.conversationId }}",
        "message": "={{ $json.response }}",
        "contentType": "text"
      },
      "id": "teams-reply",
      "name": "Teams Reply",
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        1600,
        300
      ],
      "disabled": true,
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Microsoft Teams"
        }
      }
    },
    {
      "parameters": {
        "content": "## 🔌 Webhook Adapter — Getting Started\n\nThis workflow connects external systems to your n8n-claw agent.\n\n**How it works:**\n1. A trigger receives a message from an external system\n2. A mapper translates it to n8n-claw's webhook format\n3. The agent processes it and returns a response\n4. The response is routed back to the original system\n\n**Active by default:** Generic Webhook (POST /webhook/adapter)\n**Disabled by default:** Slack, Teams (enable + add credentials to use)\n\n**To add a new integration:**\n1. Add a new Trigger node\n2. Add a new Map node (copy an existing one)\n3. Set `_responseChannel` in metadata to a unique name\n4. Add a response output in the Route Response switch\n5. Add a reply node for your system",
        "width": 400,
        "height": 320
      },
      "id": "sticky-getting-started",
      "name": "Getting Started",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -500,
        -200
      ]
    },
    {
      "parameters": {
        "content": "## Slack Setup\n\n1. Create a Slack App at api.slack.com/apps\n2. Add Bot Token Scopes: `chat:write`, `channels:history`, `channels:read`\n3. Install to workspace, copy Bot Token\n4. In n8n: Create Slack OAuth2 credential with the token\n5. Enable the Slack Trigger + Slack Reply nodes\n6. Activate this workflow",
        "width": 300,
        "height": 220
      },
      "id": "sticky-slack-setup",
      "name": "Slack Setup",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -500,
        -500
      ]
    },
    {
      "parameters": {
        "content": "## Teams Setup\n\n1. Register a Bot in Azure Portal (Bot Framework)\n2. Create App ID + Client Secret\n3. Set Messaging Endpoint to this workflow's Teams Trigger URL\n4. In n8n: Create Microsoft Teams OAuth2 credential\n5. Enable the Teams Trigger + Teams Reply nodes\n6. Activate this workflow",
        "width": 300,
        "height": 220
      },
      "id": "sticky-teams-setup",
      "name": "Teams Setup",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -500,
        200
      ]
    }
  ]
}
