workflows/background-checker.json
{
  "name": "🔍 Background Checker",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "Checker Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checker Agent": {
      "main": [
        [
          {
            "node": "Parse Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude": {
      "ai_languageModel": [
        [
          {
            "node": "Checker Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Tool": {
      "ai_tool": [
        [
          {
            "node": "Checker Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Web Search": {
      "ai_tool": [
        [
          {
            "node": "Checker Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "Checker Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Web Reader": {
      "ai_tool": [
        [
          {
            "node": "Checker Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "nodes": [
    {
      "id": "bg-trigger",
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 0],
      "parameters": {
        "inputSource": "passthrough"
      }
    },
    {
      "id": "bg-build-prompt",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0],
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst instruction = raw.instruction || raw.message || '';\nconst mcpSkills = raw.mcp_skills || '';\nconst lang = raw.language || 'German';\n\nconst now = new Date().toLocaleString('de-DE', { timeZone: 'Europe/Berlin', dateStyle: 'full', timeStyle: 'short' });\n\nconst systemPrompt = `# BACKGROUND CHECKER\nCurrent time: ${now}\n\nYou are a background checker executing a scheduled task silently.\nExecute the instruction below using the available tools.\n\nRULES:\n- ONLY use the tool(s) needed for the instruction. The instruction tells you which tool to use.\n- Do NOT call tools on unrelated MCP servers. Do NOT explore or discover all available tools.\n- Call the MCP Client ONCE with the correct server URL and tool name from the list below.\n- If the result shows something NEW or noteworthy, describe it concisely in ${lang}.\n- If there is NOTHING new or changed to report, respond with ONLY the exact text: [SILENT]\n- Do NOT add greetings, commentary, or explanations when responding [SILENT].\n- Be concise when reporting changes — just the facts.\n- Maximum 3 tool calls total. If you cannot complete the task in 3 calls, respond [SILENT].\n\n${mcpSkills ? '# AVAILABLE MCP SKILLS (reference only — use ONLY what the instruction needs)\\n' + mcpSkills : ''}`;\n\nreturn [{\n  json: {\n    systemPrompt,\n    userMessage: instruction\n  }\n}];"
      }
    },
    {
      "id": "bg-agent",
      "name": "Checker Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [480, 0],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userMessage }}",
        "options": {
          "systemMessage": "={{ $json.systemPrompt }}",
          "maxIterations": 25
        }
      }
    },
    {
      "id": "bg-claude",
      "name": "Claude",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [352, 240],
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-6",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {
          "maxTokensToSample": 4096,
          "temperature": 0.5
        }
      },
      "credentials": {
        "anthropicApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Anthropic API"
        }
      }
    },
    {
      "id": "bg-http-tool",
      "name": "HTTP Request Tool",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.2,
      "position": [480, 240],
      "parameters": {
        "description": "Make HTTP requests to any URL. Input: a JSON object with 'url' (required), 'method' (GET/POST/PUT/DELETE, default GET), 'headers' (object, optional), 'body' (string or object, optional).",
        "jsCode": "const qType = typeof query;\nlet url = '', method = 'GET', headers = {}, body = null;\n\nif (qType === 'object' && query !== null) {\n  url = query.url || '';\n  method = (query.method || 'GET').toUpperCase();\n  headers = query.headers || {};\n  body = query.body || null;\n} else if (qType === 'string') {\n  try {\n    const parsed = JSON.parse(query);\n    url = parsed.url || '';\n    method = (parsed.method || 'GET').toUpperCase();\n    headers = parsed.headers || {};\n    body = parsed.body || null;\n  } catch(e) {\n    url = query;\n  }\n}\n\nif (!url) return 'Error: no URL provided';\n\ntry {\n  const opts = { method, url, headers };\n  if (body && method !== 'GET') {\n    opts.body = typeof body === 'string' ? body : JSON.stringify(body);\n    if (!headers['Content-Type']) headers['Content-Type'] = 'application/json';\n  }\n  const resp = await helpers.httpRequest(opts);\n  const result = typeof resp === 'string' ? resp : JSON.stringify(resp);\n  return result.length > 10000 ? result.substring(0, 10000) + '... (truncated)' : result;\n} catch(e) {\n  return 'HTTP Error: ' + e.message;\n}",
        "specifyInputSchema": false
      }
    },
    {
      "id": "bg-web-search",
      "name": "Web Search",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.2,
      "position": [608, 240],
      "parameters": {
        "description": "Search the web for information. Input: a search query string.",
        "jsCode": "let input;\ntry { input = JSON.parse(query); } catch(e) { input = { q: query }; }\nconst q = input.q || input.query || query;\nconst result = await helpers.httpRequest({\n  method: 'GET',\n  url: `http://searxng:8080/search?q=${encodeURIComponent(q)}&format=json&language=de`,\n  headers: { 'Accept': 'application/json' }\n});\nconst hits = (result.results || []).slice(0, 5).map(r =>\n  `${r.title}\\n${r.url}\\n${r.content || ''}`\n).join('\\n\\n');\nreturn hits || 'Keine Ergebnisse gefunden.';",
        "specifyInputSchema": false
      }
    },
    {
      "id": "bg-mcp-client",
      "name": "MCP Client",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.2,
      "position": [736, 240],
      "parameters": {
        "description": "Calls a tool on an MCP server. Use when an installed MCP skill can help with the task. Required parameters: mcp_url (server URL), tool_name (tool to call), arguments (JSON object). Check available MCP servers in the system prompt.",
        "jsCode": "const qType = typeof query;\nlet mcpUrl = '', toolName = '', args = {};\n\nif (qType === 'object' && query !== null) {\n  mcpUrl = query.mcp_url || '';\n  toolName = query.tool_name || '';\n  args = query.arguments || {};\n} else if (qType === 'string') {\n  try {\n    const parsed = JSON.parse(query);\n    mcpUrl = parsed.mcp_url || '';\n    toolName = parsed.tool_name || '';\n    args = parsed.arguments || {};\n  } catch(e) {\n    return 'Parse error: query=' + String(query).substring(0,200) + ' type=' + qType;\n  }\n} else {\n  return 'Unexpected query type: ' + qType + ' value: ' + String(query).substring(0,200);\n}\n\nif (typeof args === 'string') try { args = JSON.parse(args); } catch(e) {}\nif (!mcpUrl || !toolName) return 'Fehler: mcp_url=' + mcpUrl + ' tool_name=' + toolName;\n\nfunction parseSSE(raw) {\n  const str = String(raw);\n  const lines = str.split('\\\\n');\n  for (let i = lines.length - 1; i >= 0; i--) {\n    if (lines[i].startsWith('data: ')) {\n      return JSON.parse(lines[i].substring(6));\n    }\n  }\n  return null;\n}\n\ntry {\n  const hdrs = {'Content-Type':'application/json','Accept':'application/json, text/event-stream'};\n\n  const init = await helpers.httpRequest({\n    method: 'POST', url: mcpUrl,\n    headers: hdrs,\n    body: JSON.stringify({jsonrpc:'2.0',id:1,method:'initialize',params:{protocolVersion:'2024-11-05',capabilities:{},clientInfo:{name:'n8n-claw-bg-checker',version:'1.0'}}}),\n    returnFullResponse: true, encoding: 'utf-8', json: false\n  });\n  const sid = init.headers && init.headers['mcp-session-id'];\n  if (!sid) return 'MCP: Kein session-id. Body: ' + String(init.body||init).substring(0,200);\n\n  hdrs['mcp-session-id'] = sid;\n\n  await helpers.httpRequest({\n    method: 'POST', url: mcpUrl,\n    headers: hdrs,\n    body: JSON.stringify({jsonrpc:'2.0',method:'notifications/initialized'}),\n    json: false\n  });\n\n  const listResp = await helpers.httpRequest({\n    method: 'POST', url: mcpUrl,\n    headers: hdrs,\n    body: JSON.stringify({jsonrpc:'2.0',id:2,method:'tools/list',params:{}}),\n    json: false\n  });\n  const listResult = parseSSE(listResp);\n  if (listResult && listResult.result && listResult.result.tools) {\n    const tool = listResult.result.tools.find(t => t.name === toolName);\n    if (tool && tool.inputSchema && tool.inputSchema.required) {\n      for (const req of tool.inputSchema.required) {\n        if (args[req] === undefined || args[req] === null) {\n          args[req] = '';\n        }\n      }\n    }\n  }\n\n  const resp = await helpers.httpRequest({\n    method: 'POST', url: mcpUrl,\n    headers: hdrs,\n    body: JSON.stringify({jsonrpc:'2.0',id:3,method:'tools/call',params:{name:toolName,arguments:args}}),\n    returnFullResponse: true, encoding: 'utf-8', json: false\n  });\n\n  const result = parseSSE(resp.body || resp);\n  if (!result) return 'MCP: Keine Daten. Response: ' + String(resp.body || resp).substring(0,500);\n  if (result.error) return 'MCP Error: ' + JSON.stringify(result.error);\n  return result.result?.content?.[0]?.text || JSON.stringify(result.result);\n} catch(e) {\n  return 'MCP Error: ' + e.message;\n}",
        "specifyInputSchema": false
      }
    },
    {
      "id": "bg-web-reader",
      "name": "Web Reader",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.2,
      "position": [864, 240],
      "parameters": {
        "description": "Read a webpage and return its content as clean markdown. Input: URL string or JSON with url field. Use this instead of HTTP Tool when you need to read webpage content (articles, docs, blog posts). Returns clean text without HTML boilerplate.",
        "jsCode": "let input;\ntry { input = JSON.parse(query); } catch(e) { input = { url: query }; }\nif (!input.url) return 'Error: url is required';\ntry {\n  const resp = await helpers.httpRequest({\n    method: 'POST',\n    url: 'http://crawl4ai:11235/crawl',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({ urls: [input.url], crawler_config: { type: 'CrawlerRunConfig', params: { stream: false, cache_mode: 'bypass' } } }),\n    timeout: 30000\n  });\n  const results = resp.results || resp;\n  const result = Array.isArray(results) ? results[0] : results;\n  if (!result.success) return 'Error: ' + (result.error_message || 'Crawl failed');\n  const mdObj = result.markdown || {};\n  const md = typeof mdObj === 'string' ? mdObj : (mdObj.raw_markdown || '');\n  return md.substring(0, 8000);\n} catch(e) {\n  return 'Error fetching page: ' + e.message;\n}",
        "specifyInputSchema": false
      }
    },
    {
      "id": "bg-parse-result",
      "name": "Parse Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [740, 0],
      "parameters": {
        "jsCode": "const agentOutput = $('Checker Agent').first().json.output || '';\nconst isSilent = agentOutput.trim() === '[SILENT]' || agentOutput.trim().startsWith('[SILENT]');\n\nreturn [{\n  json: {\n    notify: !isSilent,\n    message: isSilent ? '' : agentOutput\n  }\n}];"
      }
    }
  ]
}
