workflows/sub-agent-runner.json
{
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "name": "🧠 Sub-Agent Runner",
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input": {
      "main": [
        [
          {
            "node": "Load Persona",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Persona": {
      "main": [
        [
          {
            "node": "Build Sub-Agent Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Sub-Agent Prompt": {
      "main": [
        [
          {
            "node": "Sub-Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sub-Agent": {
      "main": [
        [
          {
            "node": "Format Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude": {
      "ai_languageModel": [
        [
          {
            "node": "Sub-Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Tool": {
      "ai_tool": [
        [
          {
            "node": "Sub-Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Web Search": {
      "ai_tool": [
        [
          {
            "node": "Sub-Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "Sub-Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Web Reader": {
      "ai_tool": [
        [
          {
            "node": "Sub-Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "nodes": [
    {
      "id": "sub-trigger",
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 0],
      "parameters": {
        "inputSource": "passthrough"
      }
    },
    {
      "id": "parse-input",
      "name": "Parse Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [192, 0],
      "parameters": {
        "jsCode": "const raw = $json.query || '';\nlet parsed = {};\ntry {\n  let toParse = raw;\n  if (typeof toParse === 'string') {\n    const start = toParse.indexOf('{');\n    const end = toParse.lastIndexOf('}');\n    if (start !== -1 && end > start) {\n      toParse = toParse.substring(start, end + 1);\n    }\n    parsed = JSON.parse(toParse);\n  } else {\n    parsed = toParse;\n  }\n} catch(e) {\n  parsed = { agent: 'unknown', task: raw, context: '' };\n}\nreturn [{\n  json: {\n    agent: parsed.agent || 'unknown',\n    task: parsed.task || '',\n    context: parsed.context || ''\n  }\n}];"
      }
    },
    {
      "id": "load-persona",
      "name": "Load Persona",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [448, 0],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT content FROM agents WHERE key = 'persona:' || '{{ $json.agent }}' LIMIT 1",
        "options": {
          "queryBatching": "independently"
        }
      },
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Supabase Postgres"
        }
      },
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "id": "build-sub-prompt",
      "name": "Build Sub-Agent Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [704, 0],
      "parameters": {
        "jsCode": "const input = $('Parse Input').first().json;\nconst persona = $('Load Persona').first()?.json;\n\nconst agentId = input.agent || 'unknown';\nconst task = input.task || '';\nconst context = input.context || '';\n\n// Fallback if persona not found\nif (!persona || !persona.content) {\n  return [{\n    json: {\n      systemPrompt: `You are a helpful expert. Complete the following task thoroughly and return a structured result. Respond in the same language as the task.`,\n      userMessage: task\n    }\n  }];\n}\n\nconst systemPrompt = `# EXPERT AGENT: ${agentId}\n\n${persona.content}\n\n# INSTRUCTIONS\nYou have been activated as an expert agent for a specific task.\nComplete the task thoroughly and return a structured result.\nRespond in the same language as the task.\nUse available tools (HTTP Request, Web Search, MCP Client) when they help accomplish the task.\n\n${context ? '# CONVERSATION CONTEXT\\n' + context : ''}`;\n\nreturn [{\n  json: {\n    systemPrompt,\n    userMessage: task\n  }\n}];"
      }
    },
    {
      "id": "sub-agent",
      "name": "Sub-Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [960, 0],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userMessage }}",
        "options": {
          "systemMessage": "={{ $json.systemPrompt }}",
          "maxIterations": 25
        }
      }
    },
    {
      "id": "sub-claude",
      "name": "Claude",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [832, 240],
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-6",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {
          "maxTokensToSample": 4096,
          "temperature": 0.5
        }
      },
      "credentials": {
        "anthropicApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Anthropic API"
        }
      }
    },
    {
      "id": "sub-http-tool",
      "name": "HTTP Request Tool",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.2,
      "position": [960, 240],
      "parameters": {
        "description": "Make HTTP requests to any URL. Input: a JSON object with 'url' (required), 'method' (GET/POST/PUT/DELETE, default GET), 'headers' (object, optional), 'body' (string or object, optional).",
        "jsCode": "const qType = typeof query;\nlet url = '', method = 'GET', headers = {}, body = null;\n\nif (qType === 'object' && query !== null) {\n  url = query.url || '';\n  method = (query.method || 'GET').toUpperCase();\n  headers = query.headers || {};\n  body = query.body || null;\n} else if (qType === 'string') {\n  try {\n    const parsed = JSON.parse(query);\n    url = parsed.url || '';\n    method = (parsed.method || 'GET').toUpperCase();\n    headers = parsed.headers || {};\n    body = parsed.body || null;\n  } catch(e) {\n    url = query;\n  }\n}\n\nif (!url) return 'Error: no URL provided';\n\ntry {\n  const opts = { method, url, headers };\n  if (body && method !== 'GET') {\n    opts.body = typeof body === 'string' ? body : JSON.stringify(body);\n    if (!headers['Content-Type']) headers['Content-Type'] = 'application/json';\n  }\n  const resp = await helpers.httpRequest(opts);\n  const result = typeof resp === 'string' ? resp : JSON.stringify(resp);\n  return result.length > 10000 ? result.substring(0, 10000) + '... (truncated)' : result;\n} catch(e) {\n  return 'HTTP Error: ' + e.message;\n}",
        "specifyInputSchema": false
      }
    },
    {
      "id": "sub-web-search",
      "name": "Web Search",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.2,
      "position": [1088, 240],
      "parameters": {
        "description": "Search the web for information. Input: a search query string.",
        "jsCode": "let input;\ntry { input = JSON.parse(query); } catch(e) { input = { q: query }; }\nconst q = input.q || input.query || query;\nconst result = await helpers.httpRequest({\n  method: 'GET',\n  url: `http://searxng:8080/search?q=${encodeURIComponent(q)}&format=json&language=de`,\n  headers: { 'Accept': 'application/json' }\n});\nconst hits = (result.results || []).slice(0, 5).map(r =>\n  `${r.title}\\n${r.url}\\n${r.content || ''}`\n).join('\\n\\n');\nreturn hits || 'Keine Ergebnisse gefunden.';",
        "specifyInputSchema": false
      }
    },
    {
      "id": "sub-mcp-client",
      "name": "MCP Client",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.2,
      "position": [1216, 240],
      "parameters": {
        "description": "Calls a tool on an MCP server. Use when an installed MCP skill can help with the task. Required parameters: mcp_url (server URL), tool_name (tool to call), arguments (JSON object). Check available MCP servers in the system prompt.",
        "jsCode": "const qType = typeof query;\nlet mcpUrl = '', toolName = '', args = {};\n\nif (qType === 'object' && query !== null) {\n  mcpUrl = query.mcp_url || '';\n  toolName = query.tool_name || '';\n  args = query.arguments || {};\n} else if (qType === 'string') {\n  try {\n    const parsed = JSON.parse(query);\n    mcpUrl = parsed.mcp_url || '';\n    toolName = parsed.tool_name || '';\n    args = parsed.arguments || {};\n  } catch(e) {\n    return 'Parse error: query=' + String(query).substring(0,200) + ' type=' + qType;\n  }\n} else {\n  return 'Unexpected query type: ' + qType + ' value: ' + String(query).substring(0,200);\n}\n\nif (typeof args === 'string') try { args = JSON.parse(args); } catch(e) {}\nif (!mcpUrl || !toolName) return 'Fehler: mcp_url=' + mcpUrl + ' tool_name=' + toolName;\n\nfunction parseSSE(raw) {\n  const str = String(raw);\n  let lines = str.split('\\n');\n  if (lines.length <= 1) lines = str.split('\\\\n');\n  for (let i = lines.length - 1; i >= 0; i--) {\n    if (lines[i].startsWith('data: ')) {\n      return JSON.parse(lines[i].substring(6));\n    }\n  }\n  return null;\n}\n\ntry {\n  const hdrs = {'Content-Type':'application/json','Accept':'application/json, text/event-stream'};\n\n  const init = await helpers.httpRequest({\n    method: 'POST', url: mcpUrl,\n    headers: hdrs,\n    body: JSON.stringify({jsonrpc:'2.0',id:1,method:'initialize',params:{protocolVersion:'2024-11-05',capabilities:{},clientInfo:{name:'n8n-claw-sub-agent',version:'1.0'}}}),\n    returnFullResponse: true, encoding: 'utf-8', json: false\n  });\n  const sid = init.headers && init.headers['mcp-session-id'];\n  if (!sid) return 'MCP: Kein session-id. Body: ' + String(init.body||init).substring(0,200);\n\n  hdrs['mcp-session-id'] = sid;\n\n  await helpers.httpRequest({\n    method: 'POST', url: mcpUrl,\n    headers: hdrs,\n    body: JSON.stringify({jsonrpc:'2.0',method:'notifications/initialized'}),\n    json: false\n  });\n\n  const listResp = await helpers.httpRequest({\n    method: 'POST', url: mcpUrl,\n    headers: hdrs,\n    body: JSON.stringify({jsonrpc:'2.0',id:2,method:'tools/list',params:{}}),\n    json: false\n  });\n  const listResult = parseSSE(listResp);\n  if (listResult && listResult.result && listResult.result.tools) {\n    const tool = listResult.result.tools.find(t => t.name === toolName);\n    if (tool && tool.inputSchema && tool.inputSchema.required) {\n      for (const req of tool.inputSchema.required) {\n        if (args[req] === undefined || args[req] === null) {\n          args[req] = '';\n        }\n      }\n    }\n  }\n\n  const resp = await helpers.httpRequest({\n    method: 'POST', url: mcpUrl,\n    headers: hdrs,\n    body: JSON.stringify({jsonrpc:'2.0',id:3,method:'tools/call',params:{name:toolName,arguments:args}}),\n    returnFullResponse: true, encoding: 'utf-8', json: false\n  });\n\n  const result = parseSSE(resp.body || resp);\n  if (!result) return 'MCP: Keine Daten. Response: ' + String(resp.body || resp).substring(0,500);\n  if (result.error) return 'MCP Error: ' + JSON.stringify(result.error);\n  return result.result?.content?.[0]?.text || JSON.stringify(result.result);\n} catch(e) {\n  return 'MCP Error: ' + e.message;\n}",
        "specifyInputSchema": false
      }
    },
    {
      "id": "sub-web-reader",
      "name": "Web Reader",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.2,
      "position": [1344, 240],
      "parameters": {
        "description": "Read a webpage and return its content as clean markdown. Input: URL string or JSON with url field. Use this instead of HTTP Tool when you need to read webpage content (articles, docs, blog posts). Returns clean text without HTML boilerplate.",
        "jsCode": "let input;\ntry { input = JSON.parse(query); } catch(e) { input = { url: query }; }\nif (!input.url) return 'Error: url is required';\ntry {\n  const resp = await helpers.httpRequest({\n    method: 'POST',\n    url: 'http://crawl4ai:11235/crawl',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({ urls: [input.url], crawler_config: { type: 'CrawlerRunConfig', params: { stream: false, cache_mode: 'bypass' } } }),\n    timeout: 30000\n  });\n  const results = resp.results || resp;\n  const result = Array.isArray(results) ? results[0] : results;\n  if (!result.success) return 'Error: ' + (result.error_message || 'Crawl failed');\n  const mdObj = result.markdown || {};\n  const md = typeof mdObj === 'string' ? mdObj : (mdObj.raw_markdown || '');\n  return md.substring(0, 8000);\n} catch(e) {\n  return 'Error fetching page: ' + e.message;\n}",
        "specifyInputSchema": false
      }
    },
    {
      "id": "format-result",
      "name": "Format Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1216, 0],
      "parameters": {
        "jsCode": "const agentOutput = $('Sub-Agent').first().json.output || 'No result from expert agent.';\nconst agentId = $('Parse Input').first().json.agent || 'unknown';\n\nreturn [{\n  json: {\n    result: agentOutput,\n    expert: agentId\n  }\n}];"
      }
    }
  ]
}
