workflows/sub-agent-runner.json
{
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "name": "🧠 Sub-Agent Runner",
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Load Persona",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Persona": {
      "main": [
        [
          {
            "node": "Build Sub-Agent Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Sub-Agent Prompt": {
      "main": [
        [
          {
            "node": "Sub-Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sub-Agent": {
      "main": [
        [
          {
            "node": "Format Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude": {
      "ai_languageModel": [
        [
          {
            "node": "Sub-Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Tool": {
      "ai_tool": [
        [
          {
            "node": "Sub-Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Web Search": {
      "ai_tool": [
        [
          {
            "node": "Sub-Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "Sub-Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "nodes": [
    {
      "id": "sub-trigger",
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 0],
      "parameters": {
        "inputSource": "passthrough"
      }
    },
    {
      "id": "load-persona",
      "name": "Load Persona",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [256, 0],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT content FROM agents WHERE key = 'persona:' || '{{ $json.agent }}' LIMIT 1",
        "options": {
          "queryBatching": "independently"
        }
      },
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Supabase Postgres"
        }
      },
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "id": "build-sub-prompt",
      "name": "Build Sub-Agent Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [512, 0],
      "parameters": {
        "jsCode": "const input = $('Start').first().json;\nconst persona = $('Load Persona').first()?.json;\n\nconst agentId = input.agent || 'unknown';\nconst task = input.task || '';\nconst context = input.context || '';\n\n// Fallback if persona not found\nif (!persona || !persona.content) {\n  return [{\n    json: {\n      systemPrompt: `Du bist ein hilfreicher Experte. Bearbeite die folgende Aufgabe gründlich und gib ein strukturiertes Ergebnis zurück. Antworte auf Deutsch, es sei denn die Aufgabe erfordert eine andere Sprache.`,\n      userMessage: task\n    }\n  }];\n}\n\nconst systemPrompt = `# EXPERT AGENT: ${agentId}\n\n${persona.content}\n\n# ANWEISUNGEN\nDu wurdest als Experten-Agent für eine spezifische Aufgabe aktiviert.\nBearbeite die Aufgabe gründlich und gib ein strukturiertes Ergebnis zurück.\nAntworte auf Deutsch, es sei denn die Aufgabe erfordert eine andere Sprache.\nNutze die verfügbaren Tools (HTTP Request, Web Search, MCP Client) wenn sie für die Aufgabe hilfreich sind.\n\n${context ? '# GESPRÄCHSKONTEXT\\n' + context : ''}`;\n\nreturn [{\n  json: {\n    systemPrompt,\n    userMessage: task\n  }\n}];"
      }
    },
    {
      "id": "sub-agent",
      "name": "Sub-Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [768, 0],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userMessage }}",
        "options": {
          "systemMessage": "={{ $json.systemPrompt }}",
          "maxIterations": 5
        }
      }
    },
    {
      "id": "sub-claude",
      "name": "Claude",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [640, 240],
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-6",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {
          "maxTokensToSample": 4096,
          "temperature": 0.5
        }
      },
      "credentials": {
        "anthropicApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Anthropic API"
        }
      }
    },
    {
      "id": "sub-http-tool",
      "name": "HTTP Request Tool",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [768, 240],
      "parameters": {
        "method": "={{$fromAI('method', 'HTTP method', 'string')}}",
        "url": "={{$fromAI('url', 'Full URL to request', 'string')}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$fromAI('body', 'JSON request body (empty object {} if none)', 'string')}}",
        "options": {}
      }
    },
    {
      "id": "sub-web-search",
      "name": "Web Search",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.2,
      "position": [896, 240],
      "parameters": {
        "description": "Search the web for information. Input: a search query string.",
        "jsCode": "const searchQuery = typeof query === 'string' ? query : (query.query || query.q || JSON.stringify(query));\ntry {\n  const resp = await helpers.httpRequest({\n    method: 'GET',\n    url: `https://api.duckduckgo.com/?q=${encodeURIComponent(searchQuery)}&format=json&no_html=1&skip_disambig=1`,\n    json: true\n  });\n  const results = [];\n  if (resp.Abstract) results.push(`Summary: ${resp.Abstract} (${resp.AbstractURL})`);\n  if (resp.RelatedTopics) {\n    for (const t of resp.RelatedTopics.slice(0, 5)) {\n      if (t.Text) results.push(`- ${t.Text} ${t.FirstURL || ''}`);\n    }\n  }\n  return results.length > 0 ? results.join('\\n') : 'No results found for: ' + searchQuery;\n} catch(e) {\n  return 'Search error: ' + e.message;\n}",
        "specifyInputSchema": false
      }
    },
    {
      "id": "sub-mcp-client",
      "name": "MCP Client",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.2,
      "position": [1024, 240],
      "parameters": {
        "description": "Calls a tool on an MCP server. Use when an installed MCP skill can help with the task. Required parameters: mcp_url (server URL), tool_name (tool to call), arguments (JSON object). Check available MCP servers in the system prompt.",
        "jsCode": "const qType = typeof query;\nlet mcpUrl = '', toolName = '', args = {};\n\nif (qType === 'object' && query !== null) {\n  mcpUrl = query.mcp_url || '';\n  toolName = query.tool_name || '';\n  args = query.arguments || {};\n} else if (qType === 'string') {\n  try {\n    const parsed = JSON.parse(query);\n    mcpUrl = parsed.mcp_url || '';\n    toolName = parsed.tool_name || '';\n    args = parsed.arguments || {};\n  } catch(e) {\n    return 'Parse error: query=' + String(query).substring(0,200) + ' type=' + qType;\n  }\n} else {\n  return 'Unexpected query type: ' + qType + ' value: ' + String(query).substring(0,200);\n}\n\nif (typeof args === 'string') try { args = JSON.parse(args); } catch(e) {}\nif (!mcpUrl || !toolName) return 'Fehler: mcp_url=' + mcpUrl + ' tool_name=' + toolName;\n\nfunction parseSSE(raw) {\n  const str = String(raw);\n  const lines = str.split('\\\\n');\n  for (let i = lines.length - 1; i >= 0; i--) {\n    if (lines[i].startsWith('data: ')) {\n      return JSON.parse(lines[i].substring(6));\n    }\n  }\n  return null;\n}\n\ntry {\n  const hdrs = {'Content-Type':'application/json','Accept':'application/json, text/event-stream'};\n\n  const init = await helpers.httpRequest({\n    method: 'POST', url: mcpUrl,\n    headers: hdrs,\n    body: JSON.stringify({jsonrpc:'2.0',id:1,method:'initialize',params:{protocolVersion:'2024-11-05',capabilities:{},clientInfo:{name:'n8n-claw-sub-agent',version:'1.0'}}}),\n    returnFullResponse: true, encoding: 'utf-8', json: false\n  });\n  const sid = init.headers && init.headers['mcp-session-id'];\n  if (!sid) return 'MCP: Kein session-id. Body: ' + String(init.body||init).substring(0,200);\n\n  hdrs['mcp-session-id'] = sid;\n\n  await helpers.httpRequest({\n    method: 'POST', url: mcpUrl,\n    headers: hdrs,\n    body: JSON.stringify({jsonrpc:'2.0',method:'notifications/initialized'}),\n    json: false\n  });\n\n  const listResp = await helpers.httpRequest({\n    method: 'POST', url: mcpUrl,\n    headers: hdrs,\n    body: JSON.stringify({jsonrpc:'2.0',id:2,method:'tools/list',params:{}}),\n    json: false\n  });\n  const listResult = parseSSE(listResp);\n  if (listResult && listResult.result && listResult.result.tools) {\n    const tool = listResult.result.tools.find(t => t.name === toolName);\n    if (tool && tool.inputSchema && tool.inputSchema.required) {\n      for (const req of tool.inputSchema.required) {\n        if (args[req] === undefined || args[req] === null) {\n          args[req] = '';\n        }\n      }\n    }\n  }\n\n  const resp = await helpers.httpRequest({\n    method: 'POST', url: mcpUrl,\n    headers: hdrs,\n    body: JSON.stringify({jsonrpc:'2.0',id:3,method:'tools/call',params:{name:toolName,arguments:args}}),\n    returnFullResponse: true, encoding: 'utf-8', json: false\n  });\n\n  const result = parseSSE(resp.body || resp);\n  if (!result) return 'MCP: Keine Daten. Response: ' + String(resp.body || resp).substring(0,500);\n  if (result.error) return 'MCP Error: ' + JSON.stringify(result.error);\n  return result.result?.content?.[0]?.text || JSON.stringify(result.result);\n} catch(e) {\n  return 'MCP Error: ' + e.message;\n}",
        "specifyInputSchema": false
      }
    },
    {
      "id": "format-result",
      "name": "Format Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1024, 0],
      "parameters": {
        "jsCode": "const agentOutput = $('Sub-Agent').first().json.output || 'Kein Ergebnis vom Expert Agent.';\nconst agentId = $('Start').first().json.agent || 'unknown';\n\nreturn [{\n  json: {\n    result: agentOutput,\n    expert: agentId\n  }\n}];"
      }
    }
  ]
}
